/* Navigation Bar */

.navbar{
    background-color: gray;
}

.navbar-brand{
    color: black;
}

.navbar .dropdown-menu{
    background-color: gray;
}

/* Welcome */

.welcome-container{
    padding-top: 70px;
    padding-bottom: 20px;
}
.welcome{
    font-size: 2.5rem;
    margin: 0;
}
/* Food Pictures */

.carousel{
    padding-bottom: 50px;
}

/* The Menu */
.menu{
    padding-top: 40px;
}
.table{
    font-size: 1.5rem;
}

.table th{
    font-family: 'Permanent Marker', cursive;
    padding-left: 0;
}

.table td{
    font-family: 'Red Rose', cursive;
}
