/* Navigation Bar */

.navbar{
    background-color: gray;
}

.navbar-brand{
    color: black;
}

.navbar .dropdown-menu{
    background-color: gray;
}

/* Food Pictures */

.carousel{
    padding-top: 200px;
    padding-bottom: 100px;
}