.navbar{
    background-color: gray;
}
.navbar-brand{
    color: black;
}
.navbar .dropdown-menu{
    background-color: gray;
}
.dropdown-item{
    color: white;
}
.word-logo{
    padding-top: 90px;
    font-size: 3.750em;
}